<section class="chicdin-section pt-5 pb-5 mt-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <!-- <img class="img-fluid" src="../../../assets/img/footer-logo.png"> -->
                  <img class="img-fluid" src="./assets/img/footer-logo.png">
                <p class="py-3">Chicdin is the new way to find and book beauty & wellness services. Download now on the App Store and Google
                    Play.</p>
                <a href="#">
                    <!-- <img src="../../../assets/img/app-store-btn.png"> -->
                     <img src="./assets/img/app-store-btn.png">
                </a>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="right-mobile">
                    <!-- <img class="img-fluid" src="../../../assets/img/mobile.png"> -->
                    <img class="img-fluid" src="./assets/img/mobile.png">
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-7">
                <div class="footer-menu">
                    <ul>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="#">Help</a>
                        </li>
                        <li>
                            <a href="#">Terms Policy</a>
                        </li>
                        <li>
                            <a href="#">Careers</a>
                        </li>
                        <div class="list-btn">
                            <a href="#">List Your Salon</a>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5">
                <div class="footer-rit">
                    <ul>
                        <li>
                            <a href="#">
                                <!-- <img src="../../../assets/img/btn1.png"> -->
                                <img src="./assets/img/btn1.png">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!-- <img src="../../../assets/img/btn2.png"> -->
                                <img src="./assets/img/btn2.png">
                            </a>
                        </li>
                    </ul>
                    <ul class="list-socila">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>