<div class="clearfix"></div>

<div class="card py-5">
  <div class="container">
      <h1 class="mb-2 text-center">Add Card</h1>
      <p class="packages-para px-5 mb-5 pb-5">Lorem Ipsum is simply dummy text</p>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="row">
            <div class="col-6 text-center mb-5">
              <div class="white-card-warp">
                <img src="assets/img/paypal.png" alt="">
              </div>
              <div class="d-inline-block mt-2">
                <label class="check-in font-s font--size-14">Pay with PayPal
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="col-6 text-center mb-5">
              <div class="white-card-warp">
                <img src="assets/img/visaCard.png" alt="">
              </div>
              <div class="d-inline-block mt-2">
                <label class="check-in font-s font--size-14">Pay with Credit Card
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-warp">
                <label>Card Holder Name</label>
                <input type="text" class="person-icon">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-warp">
                <label>Card Number</label>
                <input type="text" class="card-icon">
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="input-warp">
                <label>Valid Thru</label>
                <input type="text">
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="input-warp">
                <label>CVV / CVC No</label>
                <input type="text">
              </div>
            </div>
            <div class="col-md-6">
              <label></label>
              <p class="text-paragraph-f">* CVV or CVC is the card security code, unique three digits number on the back of your card separate from its number.</p>
            </div>
            <div class="col-md-12">
              <button type="submit" class="savebtn">
                save
              </button>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="mb-150"></div>
</div>
