<div class="clearfix"></div>

<div class="log-in-page py-5">
  <div class="container">

    <h1 class="mb-5">Forgot Password</h1>
    <div *ngIf="isFPFormShow">
      <form autocomplete="off" [formGroup]="forgotPasswordForm">
        <div class="row justify-content-center d-flex">
          <div class="col-sm-5">
            <div class="input-warp">
              <input placeholder="Enter Your Email" [ngClass]="{'bordererror': !forgotPasswordForm.controls['email'].valid && forgotPasswordForm.controls['email'].touched}"
                type="email" formControlName="email" name="email">

              <a href='javascript:void(0)' *ngIf="!forgotPasswordForm.controls['email'].valid && forgotPasswordForm.controls['email'].touched"
                (click)='emailErrorMessage()' class="info-icon">
                <i class="fa fa-exclamation"></i>
              </a>

              <div class="text-danger error-massage" *ngIf="!forgotPasswordForm.controls['email'].valid && forgotPasswordForm.controls['email'].touched && isShowEmailErrorMessage">
                Please enter a valid email.
              </div>
            </div>
            <button type="submit" [ladda]='isLoading' class="get-in-touch-btn" (click)="sendOtp(forgotPasswordForm.value)" [disabled]="!forgotPasswordForm.valid">
              Sent OTP
            </button>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="isOtpForm">
      <form autocomplete="off" [formGroup]="otpForm">
        <div class="row justify-content-center d-flex">
          <div class="col-sm-5">
            <div class="inputOTP">
              <div class="input-warp">
                <input type="text" myNumberOnly placeholder="_" formControlName="otp1" #otp1 [ngClass]="{'bordererror': !otpForm.controls['otp1'].valid && otpForm.controls['otp1'].touched}"
                  maxlength="1" />
                <input type="text" myNumberOnly placeholder="_" formControlName="otp2" #otp2 [ngClass]="{'bordererror': !otpForm.controls['otp2'].valid && otpForm.controls['otp2'].touched}"
                  maxlength="1" />
                <input type="text" myNumberOnly placeholder="_" formControlName="otp3" #otp3 [ngClass]="{'bordererror': !otpForm.controls['otp3'].valid && otpForm.controls['otp3'].touched}"
                  maxlength="1">
                <input type="text" myNumberOnly placeholder="_" formControlName="otp4" #otp4 [ngClass]="{'bordererror': !otpForm.controls['otp4'].valid && otpForm.controls['otp4'].touched}"
                  maxlength="1">
                <input type="text" myNumberOnly placeholder="_" formControlName="otp5" #otp5 [ngClass]="{'bordererror': !otpForm.controls['otp5'].valid && otpForm.controls['otp5'].touched}"
                  maxlength="1">
                <input type="text" myNumberOnly placeholder="_" formControlName="otp6" #otp6 [ngClass]="{'bordererror': !otpForm.controls['otp6'].valid && otpForm.controls['otp6'].touched}"
                  maxlength="1">
              </div>
            </div>
            <button type="submit" [ladda]='isLoading' class="get-in-touch-btn" (click)='submitOtp(otpForm.value)' [disabled]="!otpForm.valid">
              submit </button>
            <button type="submit" *ngIf='isResendOtpShow' [ladda]='isLoadingResendOtp' class="get-in-touch-btn" (click)='resendOtp()'>
              Resend Otp </button>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="isFPInputFormShow">
      <form autocomplete="off" [formGroup]='forgotPasswordInputForm'>
        <div class="row justify-content-center d-flex">
          <div class="col-sm-5">

            <input placeholder="Password" [ngClass]="{'bordererror': !forgotPasswordInputForm.controls['password'].valid && forgotPasswordInputForm.controls['password'].touched}"
              type="password" name="password" formControlName="password">

            <a href='javascript:void(0)' *ngIf="!forgotPasswordInputForm.controls['password'].valid && forgotPasswordInputForm.controls['password'].touched"
              (click)='passwordErrorMessage()' class="info-icon">
              <i class="fa fa-exclamation"></i>
            </a>

            <div class="text-danger" *ngIf="!forgotPasswordInputForm.controls['password'].valid && forgotPasswordInputForm.controls['password'].touched && isShowPasswordErrorMessage">
              Passsword should be at least 6 characters.
            </div>

            <input class="mb-3" placeholder="Confirm Password" [ngClass]="{'bordererror': !forgotPasswordInputForm.controls['confirmed_password'].valid && forgotPasswordInputForm.controls['confirmed_password'].touched}"
              type="password" name="confirmed_password" formControlName="confirmed_password">

            <a href='javascript:void(0)' *ngIf="!forgotPasswordInputForm.controls['confirmed_password'].valid && forgotPasswordInputForm.controls['confirmed_password'].touched"
              (click)='confirmPasswordErrorMessage()' class="info-icon">
              <i class="fa fa-exclamation"></i>
            </a>

            <div class="text-danger" *ngIf="!forgotPasswordInputForm.controls['confirmed_password'].valid && forgotPasswordInputForm.controls['confirmed_password'].touched && isShowConfirmPasswordErrorMessage">
              Password not matched.
            </div>

            <button type="submit" [ladda]='isLoading' class="get-in-touch-btn" (click)="passwordReset(forgotPasswordInputForm.value)"
              [disabled]="!forgotPasswordInputForm.valid">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="mb-150"></div>
</div>
