@import '../../assets/sass/variables';
@import '../../assets/sass/mixins';
agm-map {
  height: 300px;
}

.ion-android-cart {
  color: white
}

.fa-minus:before {
  color: white
}

.select_location{
  width:100%
}

