<div class="clearfix"></div>

<div class="booking py-5">
  <div class="container">
    <div class="category-search-right-box margin-bottom booking-inner">
      <h1 class="category-search-heading mb-2">Booking Summary</h1>
      <div class="sortByDiv">
        <div class="LHS">
          <p>3 order laced</p>
        </div>
        <div class="RHS">
          <p>Sort by:</p>
          <select>
            <option value="1">Select</option>
            <option value="2">Popular</option>
            <option value="3">Lowest Price</option>
            <option value="4">Heightest Price</option>
          </select>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="category-search-loop">
          <div class="card">
            <div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 col-md-5 col-lg-4">
                    <img class="img-fluid" src="assets/img/product-search-pic.jpg">
                  </div>
                  <div class="col-sm-12 col-md-7 col-lg-8">
                    <div class="category-right-detail">
                      <div class="LHS">
                        <h1 class="pb-1">Blow + Bar - Boat Quay</h1>
                        <p>40B Boat Quay California Raffles Place, 049829, California</p>
                      </div>
                      <div>
                        <p>Booking Date & Time</p>
                        <p>17-05-2018 / 10:30 AM</p>
                      </div>
                    </div>
                    <div class="category-right-star-list">
                      <ul class="mb-0">
                        <li>
                          <a href="#">
                            <i class="icon ion-ios-star"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="icon ion-ios-star"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="icon ion-ios-star"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="icon ion-ios-star"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="icon ion-ios-star"></i>
                          </a>
                        </li>
                        <li>
                          <a class="font-13">
                            ( 22 )
                          </a>
                        </li>
                      </ul>
                      <ul class="rit mb-0">
                        <li>
                          <a href="#">
                            <img src="assets/img/card.jpg"> </a>
                        </li>
                        <li>
                          <a href="#"> $$$</a>
                        </li>
                        <li>
                          <div class="promotions">
                            <span>0%</span>PROMOTIONS
                          </div>
                        </li>
                      </ul>
                    </div>
                    <p class="category-right-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown printer </p>
                    <div class="readMore">
                      <div class="LHS">
                        <a href="">
                          <i class="ion-ios-plus-outline"></i>
                          Read More
                        </a>
                      </div>
                      <div class="RHS">
                        <button class="cancleBooking m-0">CANCEL BOOKING</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-header">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Kids Haircut
                </button>
                <span class="text-right mt-1">
                  <i class="icon ion-android-alarm-clock"></i> 30 min | $ 27.00</span>
              </h5>
            </div>
          </div>
      </div>
      <div class="category-search-loop">
        <div class="card">
          <div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12 col-md-5 col-lg-4">
                  <img class="img-fluid" src="assets/img/product-search-pic.jpg">
                </div>
                <div class="col-sm-12 col-md-7 col-lg-8">
                  <div class="category-right-detail">
                    <div class="LHS">
                      <h1 class="pb-1">Blow + Bar - Boat Quay</h1>
                      <p>40B Boat Quay California Raffles Place, 049829, California</p>
                    </div>
                    <div>
                      <p>Booking Date & Time</p>
                      <p>17-05-2018 / 10:30 AM</p>
                    </div>
                  </div>
                  <div class="category-right-star-list">
                    <ul class="mb-0">
                      <li>
                        <a href="#">
                          <i class="icon ion-ios-star"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="icon ion-ios-star"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="icon ion-ios-star"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="icon ion-ios-star"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="icon ion-ios-star"></i>
                        </a>
                      </li>
                      <li>
                        <a class="font-13">
                          ( 22 )
                        </a>
                      </li>
                    </ul>
                    <ul class="rit mb-0">
                      <li>
                        <a href="#">
                          <img src="assets/img/card.jpg"> </a>
                      </li>
                      <li>
                        <a href="#"> $$$</a>
                      </li>
                      <li>
                        <div class="promotions">
                          <span>0%</span>PROMOTIONS
                        </div>
                      </li>
                    </ul>
                  </div>
                  <p class="category-right-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer </p>
                  <div class="readMore">
                    <div class="LHS">
                      <a href="">
                        <i class="icon ion-add-circle-outline"></i>
                        Read More
                      </a>
                    </div>
                    <div class="RHS">
                      <button class="cancleBooking m-0">CANCEL BOOKING</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Kids Haircut
              </button>
              <span class="text-right">
                <i class="icon ion-android-alarm-clock"></i> 30 min | $ 27.00</span>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-150"></div>
</div>
