.main-bg-color {
  background-color: $color-blue !important;
}

.subhead-text-color {
  color: $color-blue !important;
}

.heading-text-color {
  color: $color-pink !important;
}

.deep-bg-pink {
  background-color: $color-deep-pink !important;
}

.deep-border {
  border: 1px solid $color-deep-pink !important;
}

.light-bg-pink {
  background-color: $color-lighter-pink !important;
}

.light-txt-pink {
  color: $color-light-pink;
}

.p-relative {
  position: relative !important;
}

.p-absolute {
  position: absolute !important;
}

.cursor {
  cursor: pointer;
}

.pink {
  color: $color-pink !important;
}

.black {
  color: $color-blue !important;
}

.btn-black {
  background: $color-blue;
}

section, footer {
  width: 100%;
  float: left;
}

.font--size-14 {
  font-size: 14px;
  font-weight: 400;
}

.mb-150{
  margin-bottom: 150px;
  @media screen and (max-width: $screen-960) {
    margin-bottom: 0;
  }
}

.font-size-12 {
  font-size: 12px !important;
  font-weight: 400;
  width: 100%;
}
.input-warp{
  position: relative;
    .info-icon{
      position: absolute;
      top: 14px;
      right: -20px;
      color: $color-red;
      z-index: 999;
      @media screen and (max-width: $screen-960) {
        right: -10px;
      }
      &.red{
        color: $color-red;
      }
    }
}

.error-massage{
    margin-left: 10px;
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    left: 8px;
}





