@font-face {
  font-family: 'gp';
  src: url('../fonts/GothamPro.ttf');
}

@font-face {
  font-family: 'gpb';
  src: url('../fonts/Gotham-Book.ttf');
}

@font-face {
  font-family: 'gpm';
  src: url('../fonts/GothamPro-Medium.ttf');
}

@font-face {
  font-family: 'lsr';
  src: url('../fonts/LustSlim-Regular.ttf');
}

@font-face {
  font-family: 'mp';
  src: url('../fonts/MyriadPro-Regular.otf');
}

@font-face {
  font-family: 'mps';
  src: url('../fonts/MyriadPro-Semibold.otf');
}
