
/*===form-box===*/

.form-box {
  max-width: 840px;
  width: 100%;
  height: 56px;
  @include border-radius(5px);
  background: $color-white;
  position: relative;
  margin: 20% 0 0 17%;
  input[type=text] {
    width: 40%;
    float: left;
    border: none;
    outline: none;
    font-size: 25px;
    color: $color-light-black;
    height: 48px;
    line-height: 50px;
    margin: 5px;
    text-indent: 10px;
    @media screen and (max-width: $screen-640) {
        font-size: 18px;
    }
    @media screen and (max-width: $screen-480) {
        font-size: 12px;
    }
    @media screen and (max-width: $screen-414) {
        font-size: 12px;
        float: left;
        width: 100%;
        margin: 4px 0;
        @include border-radius(2px);
        height: auto;
        line-height: normal;
        padding: 14px 0;
    }
  }



  @media screen and (max-width: $screen-960) {
    margin: 6% 0 0 0%;
  }
  @media screen and (max-width: $screen-414) {
        height: auto;
        background: transparent;
        position: relative;
  }

}

.submit-btn {
  width: 140px;
  height: 56px;
  position: absolute;
  top: 0;
  right: 0;
  background: $color-deep-pink;
  text-align: center;
  border: none;
  outline: none;
  font-size: 16px;
  color: $color-white;
  border-radius: 0px 5px 5px 0;
  z-index: 1;
  cursor: pointer;
    @media screen and (max-width: $screen-414) {
    width: auto;
    height: auto;
    position: relative;
    padding: 10px 20px;
    }
    @media screen and (max-width: $screen-375) {
        width: auto;
        height: auto;
        position: relative;
        padding: 10px 20px;
    }
}




/*===end form-box===*/

/*=== discover: start ===*/

.discover-listing {
  width: 100%;
  display: block;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      position: relative;
      color: $color-light-pink2;
      font-size: 52px;
      width: 33%;
      text-align: center;
      font-family: 'lsr';
      @media screen and (max-width: $screen-960) {
        width: 32%;
      }
      &:before {
        width: 85%;
        position: absolute;
        top: 42px;
        right: -160px;
        background: $color-light-pink3;
        height: 1px;
        content: "";
        @media screen and (max-width: $screen-960) {
            width: 85%;
            position: absolute;
            top: 42px;
            right: -160px;
            background: #f3748a;
            height: 1px;
            content: "";
        }
        @media screen and (max-width: $screen-736) {
            right: -74px;
        }
        @media screen and (max-width: $screen-640) {
            right: -72px;
        }
        @media screen and (max-width: $screen-480) {
            right: -68px;
        }
        @media screen and (max-width: $screen-414) {
            right: -59px;
        }
        @media screen and (max-width: $screen-320) {
            right: -46px;
        }
      }
      &:nth-child(3):before {
        display: none;
      }
    }
  }
}



/*=== discover: end ===*/

/*=== special_offer: start ===*/

.special-offers {
  width: 100%;
  display: block; 
  background: url(../img/line.jpg) repeat;
  @media screen and (max-width: $screen-480) {
    padding: 20px 0 !important;
  }
}

.special-offers-box {
  height: 286px;
  width: 100%;
  position: relative;
  z-index: 2;
  @media screen and (max-width: $screen-736) {
    margin-bottom: 30px;
  }
  img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    @media screen and (max-width: $screen-480) {
        width: 100%;
    }
  }
}

.offers-btn {
  width: 234px;
  height: 46px;
  background: $color-pink;
  text-align: center;
  color: $color-white;
  position: absolute;
  top: 88%;
  left: 0;
  right: 0;
  margin: auto;
  @include border-radius(8px);
  line-height: 46px;
  font-size: 16px;
  text-transform: uppercase;
  @media screen and (max-width: $screen-960) {
    width: 150px;
  }
  @media screen and (max-width: $screen-736) {
    font-size: 12px;
    width: 179px;
  }
  @media screen and (max-width: $screen-640) {
    @include border-radius(4px);
  }
  @media screen and (max-width: $screen-480) {
        font-size: 16px;
        width: 250px;
  }
    a {
        display: block;
        text-decoration: none;
        color: $color-white;

    }
}

/*=== special_offer: end ===*/


/*=== about: start ===*/

.about-us-section {
  width: 100%;
  display: block;
  background: $color-lighter-pink;
  position: relative;
  overflow: hidden;
  &:before {
    width: 173px;
    height: 281px;
    background: url(../img/about-bg.png) no-repeat;
    position: absolute;
    top: -20%;
    left: 0;
    content: "";
  }
  &:after {
    width: 173px;
    height: 281px;
    background: url(../img/about-bg-after.png) no-repeat;
    position: absolute;
    bottom: -20%;
    right: 0;
    content: "";
  } 
  &::before, &::after {
      @media screen and (max-width: $screen-960) {
        display: none;
      }
  }
  @media screen and (max-width: $screen-480) {
      margin-top: 0 !important;
  }
  @media screen and (max-width: $screen-414) {
    margin-top: 0 !important;
    padding: 0 !important;
  }
}

p.about-para {
  color: $color-black3;
  font-size: 18px;
  text-align: center;
}

.about-btn {
  width: 234px;
  height: 46px;
  background: $color-pink;
  text-align: center;
  color: $color-white;
  @include border-radius(8px);
  line-height: 46px;
  font-size: 16px;
  margin: auto;
  text-transform: uppercase;
  a {
    color: $color-white;
    text-decoration: none;
  }
}

/*=== about : end ===*/

/*===start featured artists section===*/
.featured-artists {
  width: 100%;
  display: block;
}

.featured-artists-box {
  width: 300px;
  height: 300px;
  overflow: hidden;
  @include border-radius(50%);
  margin: 0px auto;
  img {
    object-fit: cover;
    object-position: center;
    height: 100%;
  }
  @media screen and (max-width: $screen-736) {
    margin-bottom: 20px;
  }
}

h2.sara {
  color: $color-pink;
  font-size: 24px;
  text-transform: capitalize;
  display: block;
  text-align: center;
  font-weight: normal;
}

p.featured-para {
  color: $color-blue;
  font-size: 14px;
  text-transform: uppercase;
}

h3.bottom-heading {
  color: $color-pink;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'gp';
}

/*===end featured artists section===*/


